<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.com">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="D4">
	<!-- Meta Description -->
	<meta name="description" content="4 Help Desk es una solución de avanzada inteligencia empresarial que te permite dar seguimiento a todos los procesos que dan vida a tu organización.">
	<!-- Meta Keyword -->
	<meta name="keywords" content="BPM, Business Process Management, flujos de trabajo">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>4 Help Desk</title>

	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
		<!--
		CSS
		============================================= -->	
		<link rel="stylesheet" th:href="@{/css/linearicons.css}" >
		<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
		<link rel="stylesheet" th:href="@{/css/nice-select.css}">
		<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
		<link rel="stylesheet" th:href="@{/css/main.css}">
	</head>
	<body>
		<!-- Start Header Area -->
		<header class="default-header">
			<div class="container">
				<div class="header-wrap">
					<div class="header-top d-flex justify-content-between align-items-center">
						<div class="logo">
							<a href="index.html"><img th:src="@{/img/logo.png}" alt="Logo 4 Help Desk"></a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header Area -->
		<!-- Start Video Area -->
		<section class="video-area section-gap relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-5">
						<div class="video-wrap">
								<iframe src="https://player.vimeo.com/video/402981451" width="100%" height="300" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-lg-6 col-md-7">
						<div class="video-content">
							<h3 class="text-white">¡Gracias!<br> Tu solicitud fue recibida.</h3>
							<p class="text-white">En un momento un representante te compartirá más información vía correo electrónico.<br><br>4 Help Desk es una aplicación de D4 Consultores.<br>Conoce más de nosotros en el siguiente enlace:</p>
							<div style="padding-top: 25px">
							<a href="https://d4.com.mx/index.html" target="_blank" class="genric-btn warning circle">¡Da clic aquí!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Video Area -->
		<!-- Start Contact Area -->
		<section class="section-gap contact-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-5 col-md-5">
						<div class="contact-address">
							<div class="single-address d-flex">
								<div class="icon">
									<span class="lnr lnr-map-marker"></span>
								</div>
								<div class="desc">
									<h5>Dirección</h5>
									<p>Av. Holanda 099, Oficina 1101,<br> Providencia, Santiago de Chile.</p>
								</div>
							</div>
							<div class="single-address mt-30 d-flex">
								<div class="icon">
									<span class="lnr lnr-select"></span>
								</div>
								<div class="desc">
									<h5>Correo electrónico</h5>
									<a>Representante D4 en Chile:<br>jambrosino@d4.com.mx</a>
								</div>
							</div>
							<div class="single-address mt-30 d-flex">
								<div class="icon">
									<span class="lnr lnr-phone-handset"></span>
								</div>
								<div class="desc">
									<h5>Teléfono</h5>
									<a href="tel:1254758">Chile -  2 2306 6160</a> <br>
									<a href="tel:1254758">México - +52 55 5668 9715</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 ml-auto col-md-7">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1665.0949952891665!2d-70.60556544188566!3d-33.41829075642954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf69920151a5%3A0x2c6a943aef433bed!2sAv.%20Holanda%2099%2C%20Providencia%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1ses!2smx!4v1587443379242!5m2!1ses!2smx" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div>
			</div>
		</section>
		<!-- Start Contact Area -->

		<!-- Strat Footer Area -->
		<footer class="section-gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h6 class="text-white text-uppercase mb-20">Acerca de<br> D4 Consultores:</h6>
							<ul class="footer-nav">
								<li><a href="https://d4.com.mx/index.html">- Sitio web</a></li>
								<li><a href="https://d4.com.mx/contacto.html">- Contacto</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6">
						<div class="single-footer-widget">
							<h6 class="text-white text-uppercase mb-20">¡Ponte en contacto con nosotros vía WhatsApp!</h6>
							<p class="mb-0 text-white">Para una atención más personalizada escríbenos por medio de WhatsApp y un representante te contestará al instante.</p>
							<div class="button-group-area mt-10">
								<a href="https://bit.ly/2JI3HYr" target="_blank" class="genric-btn default-border circle arrow">Empezar<span class="lnr lnr-arrow-right"></span></a>
							</div>
							<p></p>
							<p class="mb-0 text-white">Para dejar de recibir correos como este, da click <a href="baja.html" th:href="@{/requestInfo/cancel(idClient=${param.idClient})}">aquí.</a></p>
							
						</div>
					</div>
					
				</div>
				<div align="center" style="padding-top: 40px" >
					<img th:src="@{/img/LogoFoot.png}" alt="LogoD4Consultores">
					<p class="footer-text m-0" style="padding-top: 30px; font-size: 12px">2020 | 4 Help Desk | Desarrollo en Cuatro Consultores</p>
				</div>
			</div>
		</footer>
		<!-- End Footer Area -->

		<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
		<script th:src="@{/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
		<script th:src="@{/js/owl.carousel.min.js}"></script>
		<script th:src="@{/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
		<script th:src="@{/js/main.js}"></script>
	</body>
</html>
